@media (min-width: 768px) {
  .action-bg{
    display: none;
  }
  .header div{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .header a.btn{
    display: inline-block;
    font-size: 1.2rem;
    background: var(--dark-orange);
    color: var(--white);
    font-weight: 600;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    transition: var(--transition-2);
  }
  .header.active a.btn{
    background: var(--white);
    color: var(--dark-orange);
  }
}
@media (min-width: 992px){
  .header{
    padding-inline: 2%;
  }
  .menu-btn, .main-nav.active, .overlay{
    display: none;
  }
  .main-nav{
    all: unset;
    margin-inline-start: auto;
  }
  .main-nav-list .main-nav-link.nav-cta{
    all: unset;
    font-size: 1.4rem;
    font-weight: 500;
  }
  .main-nav-list{
    display: flex;
    gap: 18px;
    align-items: center;
  }
}

@media (min-width: 1440px){
  .main-nav-list .main-nav-link,
  .header a.btn,
  .main-nav-list .main-nav-link.nav-cta,
  .header a .logo{
    font-size: 2rem;
  }
}